<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Gengou Dearby</h1>
  <h2>Button Here</h2>
  <h2>Post Posted</h2>
  <p>Gengou Dearby Home</p>
  <%= link_to "Generate New Gengou", generate_path, class: "btn btn-lg btn-primary" %>
</div>