<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Gengou Dearby</h1>
  <h2>Button Here</h2>
  <h2>Post Posted</h2>
  <ul class="posts">
  </ul>

  <p>Gengou Dearby Home</p>
  <%= link_to "Generate New Gengou", generate_path, class: "btn btn-lg btn-primary" %>
  <% if logged_in? %>
    <h1>こんにちは、<%=  current_user.user_name %>さん</h1>
    <p>ユーザー用ページです。</p>
    <% else %>
    <p>ログインしてください</p>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <h3>Post Feed</h3>
      <table>
        <tr class="title">
          <td>Twitter ID</td>
          <td>新元号</td>
          <td>投稿時刻</td>
        </tr>
        <%= render 'shared/feed' %>
      </table>
    </div>
  </div>
</div>