<footer class="footer">
  <small>
    Gengou Dearby
    by silloi(<a href="https://www.twitter.com/silloi93">@silloi93</a>)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>